[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.10"
weasyprint = "*"
django-heroku = "*"
whitenoise = "*"
mysqlclient = "*"
gunicorn = "*"
mysql-connector = "*"
django-taggit = "*"
pillow = "*"
dj-static = "*"
dj-database-url = "*"
cloudinary = "*"
requests = "*"
django-phonenumber-field = "*"
django-phone-field = "*"

[requires]
python_version = "3.6"
