<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule | {{ current_school_year }}</title>
</head>
<body>
<table border="1">
    <th>Subject Code</th>
    <th>Description</th>
    <th>Year and Section</th>
    <th>Schedule</th>
    <th>Semester</th>
    <th>SY</th>
    {% for subject_instance in assigned_subjects_per_year %}
    <tr>
        <td>{{ subject_instance.subject.subject_code }}</td>
        <td>{{ subject_instance.subject.description }}</td>
        <td>{{ subject_instance.year_and_section }}</td>
        <td>{{ subject_instance.schedule }}</td>
        <td>{{ subject_instance.semester }}</td>
        <td>{{ subject_instance.school_year }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>