{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_full_name }} | Subjects{% endblock title %}
{% block content %}
<div>
   <div>
       <br><br>
   </div>
    <div class="row">
        <div class="col s12">
            <div class="col s3">
                <div class="card hoverable">
                    <div class="card-content row">
                        <div class="col s12">
                            <br>
                            <center><img src="{% static 'schedule.svg' %}" style="object-fit: fill; max-width: 50%"></center>
                        </div>
                        <div class="col s12">
                            <br><b>
                                <h6>
                                    <hr class="grey">
                                </h6>
                            </b><br>
                        </div>
                        <div class="col s12">
                            <form method="GET" action="">
                                <div class="input-field">
                                    <i class="material-icons prefix">search</i>
                                    <input id="id_search" type="search" name="assigned_subject_query" value="{{ request.GET.assigned_subject_query }}" />
                                    <label for="id_search">Search Subject(s)</label>
                                    <span class="helper-text">Use keywords. i.e. Subject code, units, etc.</span>
                                </div>
                                <div>
                                    <button class="btn btn-large purple waves-effect hoverable" type="submit" style="width:100%" >Search</button>
                                </div>
    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s9">
                <div class="card hoverable">
                    <div class="card-content row">
                        <div class="col s12">
                                {% if assigned_subjects %}
                                <a class="right" href="{% url 'grading_system:print_schedule_pdf' %}" target="_blank"><i class="material-icons tooltipped medium" data-tooltip="Print Your Schedule">local_printshop</i></a><br>
                                <h5 class="center"><b>Assigned Subjects</b></h5>
                                {% endif %}
                        </div>
                        <div class="col s12">
                            {% if assigned_subjects %}
                            <table class="highlight centered">
                                <thead>
                                    <tr>
                                        <th><h6>Subject Code</h6> </th>
                                        <th><h6>Description</h6> </th>
                                        <th><h6>Year and Section</h6> </th>
                                        <th><h6>Schedule</h6> </th>
                                        <th><h6>Semester</h6> </th>
                                        <th><h6>SY</h6> </th>
                                    </tr>
                                </thead>

                                {% for subject_instance in assigned_subjects %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{% url 'grading_system:view_students_per_subject' subject_instance.id subject_instance.subject.subject_code %}">
                                                <h6>{{ subject_instance.subject.subject_code }}</h6> 
                                            </a>
                                        </td>
                                        <td><h6>{{ subject_instance.subject.description }}</h6></td>
                                        <td><h6>{{ subject_instance.year_and_section }}</h6></td>
                                        <td><h6>{{ subject_instance.schedule }}</h6></td>
                                        <td><h6>{{ subject_instance.semester }}</h6></td>
                                        <td><h6>{{ subject_instance.school_year }}</h6></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                            {% else %}
                            <br>
                            <center><img src="{% static 'siren.svg' %}" style="height:200px; object-fit: cover;"></center>
                            <h5 class="center"><b>Ooooops!</b></h5>
                            <h6 class="center"> You currently have no subjects assigned.</h6>
                            {% endif %}
                        </div>
                        <div class="col s12">
                            <ul class="pagination right">
    
                                {% if assigned_subjects.has_previous %}
                                <li class="waves-effect"><a href="?assigned_subject_page=1&assigned_subject_query={{ request.GET.assigned_subject_query }}"><i
                                            class="material-icons">first_page</i></a></li>
                                <li class="waves-effect"><a href="?assigned_subject_page={{ assigned_subjects.previous_page_number }}&assigned_subject_query={{ request.GET.assigned_subject_query }}"><i
                                            class="material-icons">chevron-left</i></a></li>
                                {% endif %}
                                <li>
                                    {% if assigned_subjects %}
                                    <a class="current">
                                        Page {{ assigned_subjects.number }} of {{ assigned_subjects.paginator.num_pages }}.
                                    </a>
                                    {% endif %}
                                </li>
                                {% if assigned_subjects.has_next %}
                                <li class="waves-effect"><a href="?assigned_subject_page={{ assigned_subjects.next_page_number }}&assigned_subject_query={{ request.GET.assigned_subject_query }}"><i
                                            class="material-icons">chevron-right</i></a></li>
                                <li class="waves-effect"><a href="?assigned_subject_page={{ assigned_subjects.paginator.num_pages }}&assigned_subject_query={{ request.GET.assigned_subject_query }}"><i
                                            class="material-icons">last_page</i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock content %}