{% extends 'base.html' %}
{% load staticfiles %}
{% load grading_system_tags %}
{% block title %}{{ request.user.get_full_name }} | Registration{% endblock title %}
{% block content %}
<div>
    <br><br>
    <div class="container">
        <div class="card hoverable">
            <div class="card-content row">
                    {% if enrolled_subjects %}
                <div class="col s3 row">
                    <div>
                        <br>
                        <center><img src="{% static 'lamp.svg' %}" style="height:200px; object-fit: cover;"></center>
                        <br><b><h6><hr class="grey"></h6></b><br>
                        <h5 class="center"><b>Subjects Enrolled</b></h5>
                    </div>
                </div>
                <div class="col s9">
                    
                    <table border="1" class="highlight ">
                        <th>Subject Code</th>
                        <th>Description</th>
                        <th>Units</th>
                        <th>Semester</th>
                        <th>SY</th>
                        {% for each in enrolled_subjects %}
                        <tr>
                            <td>{{ each.subject_instance.subject.subject_code }}</td>
                            <td>{{ each.subject_instance.subject.description }}</td>
                            <td>{{ each.subject_instance.subject.units }}</td>
                            <td>{{ each.semester }}</td>
                            <td>{{ each.school_year }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                </div>
                {% else %}
                    <br>
                    <center><img src="{% static 'cactus.svg' %}" style="height:200px; object-fit: cover;"></center>
                    <h6 class="center"><b>Ooooops!</b></h6>
                    <h6 class="center"> It seems no subject is available. <br> If this is an error contact your department.</h6>
                    {% endif %}
                <div class="col s12">
                    <br><br>
                </div>
                
            </div>
        </div>
        <div class="card hoverable">
            <div class="card-content row">
                {% if subject_list %}
                <div class="col s3 row">
                    <center><img src="{% static 'notes.svg' %}" style="height:200px; object-fit: cover;"></center>
                    <br><b><h6><hr class="grey"></h6></b><br>
                    <h5 class="center">Subjects Available for Enrollment</h5>
                </div>
                <div class="col s9">
                    
                    <table border="1" class="highlight">
                        <th>&#9889</th>
                        <th>Subject Code</th>
                        <th>Description</th>
                        <th>Units</th>
                        <th>Semester</th>
                        <th>SY</th>
                        <form action="." method="POST" onsubmit="return confirm('Are you Sure? Once proceeded, it cannot be UNDONE.');">
                            {% csrf_token %}
                            {% for each in subject_list %}
                            <tr>
                                <td>
                                    {% is_already_enrolled request.user.id each.id as flag %}
                                    {% if flag == True %}
                                    &#9899
                                    {% else %}
                                    <input type="checkbox" id="{{ each.id }}" name="selected_subjects" value="{{ each.id }}" />
                                    {% endif %}
                                </td>
                                <td>{{ each.subject.subject_code }}</td>
                                <td>{{ each.subject.description }}</td>
                                <td>{{ each.subject.units }}</td>
                                <td>{{ each.semester }}</td>
                                <td>{{ each.school_year }}</td>
                            </tr>
                            {% endfor %}
                            <input type="submit" value="Submit" id="submit-form" style="display:none;" />
                        </form>
                    </table>
                    <br />
                    <div>
                        <button class="btn white-text"><label class="white-text" for="submit-form" tabindex="0">Add Selected Subject(s)<i class="material-icons left"></i></label></button>
                    </div>
                    
                </div>
                {% else %}
                    <div class="col s12">
                        <br>
                            <center><img src="{% static 'adhesive-tape.svg' %}" style="height:200px; object-fit: cover;"></center>
                            <h5 class="center"><b>Ooooops!</b></h5>
                            <h6 class="center"> It seems no subject is available. <br> If this is an error contact your department.</h6>
                    </div>
                    
                    {% endif %}
            </div>
        </div>
    </div>
    <br><br><br>
</div>
{% endblock content %}