{% extends 'base.html' %}
{% load staticfiles %}
{% load grading_system_tags %}
{% block title %}{{ request.user.get_full_name }} | Registration{% endblock title %}
{% block content %}
<div>
    {% if enrolled_subjects %}
    <h2>Enrolled Subjects For This Year</h2>
    <table border="1">
        <th>Subject Code</th>
        <th>Description</th>
        <th>Units</th>
        <th>Semester</th>
        <th>SY</th>
        {% for each in enrolled_subjects %}
        <tr>
            <td>{{ each.subject_instance.subject.subject_code }}</td>
            <td>{{ each.subject_instance.subject.description }}</td>
            <td>{{ each.subject_instance.subject.units }}</td>
            <td>{{ each.semester }}</td>
            <td>{{ each.school_year }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    Empty Results...
    {% endif %}

    {% if subject_list %}
    <h2>Available Subjects For This Year</h2>
    <table border="1">
        <th>&#9889</th>
        <th>Subject Code</th>
        <th>Description</th>
        <th>Units</th>
        <th>Semester</th>
        <th>SY</th>
        <form action="." method="POST" onsubmit="return confirm('Are you Sure? Once proceeded, it cannot be UNDONE.');">
            {% csrf_token %}
            {% for each in subject_list %}
            <tr>
                <td>
                    {% is_already_enrolled request.user.id each.id as flag %}
                    {% if flag == True %}
                    &#9899
                    {% else %}
                    <input type="checkbox" id="{{ each.id }}" name="selected_subjects" value="{{ each.id }}"/>
                    {% endif %}
                </td>
                <td>{{ each.subject.subject_code }}</td>
                <td>{{ each.subject.description }}</td>
                <td>{{ each.subject.units }}</td>
                <td>{{ each.semester }}</td>
                <td>{{ each.school_year }}</td>
            </tr>
            {% endfor %}
            <input type="submit" value="Submit" id="submit-form" style="display:none;" />
        </form>
    </table>
    <br />
    <div>
        <button class="btn white-text"><label class="white-text" for="submit-form" tabindex="0">Add Selected Subject(s)
                <i class="material-icons left"></i></label></button>
    </div>
    {% else %}
    Empty Results..
    {% endif %}
    <a href="{% url 'account:dashboard' %}">Back</a>
</div>
{% endblock content %}