{% extends 'base.html' %}
{% load  grading_system_tags %}
{% load staticfiles %}
{% block title %}{{ request.user.get_full_name }} | Grades{% endblock title %}

{% block content %}
<div>
    <h4>Name: {{ request.user.get_full_name }} &nbsp; ({{ request.user.username }})</h4>
     <a href="{% url 'account:dashboard' %}">Back</a>
    {% if grades %}
    {% for grade in grades %}
    <div>
        <p>School Year: {{ grade.school_year }}</p>
        <p>Course Code: {{ request.user.student_profile.course }}</p>
        <p>Course Description: {{ request.user.student_profile.course_description }}</p>
        <p>Semester: {{ grade.semester }}</p>
        <p>Status: {{ request.user.student_profile.status }}</p>
        <p>GPA: {% compute_gpa grade.id %}</p>
        <div>
            <table border="1">
                <th>Subject Code</th>
                <th>Subject Description</th>
                <th>Instructor</th>
                <th>Units</th>
                <th>Sect. Code</th>
                <th>Final Grade</th>
                <th>Grade Status</th>
                {% for subject_grade in grade.subject_grades.all %}
                <tr>
                    <td>{{ subject_grade.subject_instance.subject.subject_code }}</td>
                    <td>{{ subject_grade.subject_instance.subject.description }}</td>
                    <td>{{ subject_grade.subject_instance.instructor }}</td>
                    <td>{{ subject_grade.subject_instance.subject.units }}</td>
                    <td>{{ subject_grade.subject_instance.year_and_section }}</td>
                    <td>{{ subject_grade.final_grade }}</td>
                    <td>{{ subject_grade.grade_status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
    {% else %}
        No Enrolled Subjects for this Account....
    {% endif %}
</div>
{% endblock content %}