{% extends "base.html" %}
{% block title %}Divine Miracle Christian Academy|Reset Password{% endblock %}
{% block content %}
{% load static %}
    
<form action="." method="post" onsubmit="loading()">
    <!--<p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="254" required id="id_email" /></p>
    <input type='hidden' name='csrfmiddlewaretoken' value='XGk4lTbilAOuqRBidgc87igApswal3Q1oGu9n0vnfyIp7g5acpoujmBmmprE6rPq' />
    <p><input type="submit" value="Send e-mail"></p>-->
  <div style="height: 100px;">

  </div>
  <!-- CARD CONTAINER-->
  <div class="container">
    <div class="grid-example col s6 m12 center">
      <div class="card blue-grey lighten-5 z-depth-4">
        <div class="card-content white-text">

          <div class="row">
            <div style="position: absolute;">
              <!--BACK BUTTON -> TO LOGIN PAGE-->
              <a class="btn-flat btn-large tooltipped left" data-tooltip="Back" href="{% url 'login' %}"> <i class="material-icons">arrow_back</i></a>
            </div>
            <!--DMCA LOGO CENTERED-->
            <div class="center-align">
              <img src="{% static "img/DMCA logo.png" %}" alt="" class="circle responsive-img" style="height: 200px;">
            </div>

          </div>

          <span class="card-title flow-text black-text">Forgotten Password</span>
          
          <!-- text input box-->
          <div class="container black-text">
            <form class="center">
              <div class="row">
                <div class="input-field flow-text scale-transition center" id="box" >
                  <i class="material-icons prefix">email</i>
                  <input type="email" name="email" autofocus maxlength="254" required id="id_email" />
                  <label for="id_email">Email Address:</label>
                  <span class="helper-text center" data-error="wrong" data-success="right">Enter your email to reset your password.</span>
                </div>
              </div>
            </form>
          </div>       
          <div id="lod" class="progress center" style="visibility: hidden;">
            <div class="indeterminate"></div>
            <h8> Sending email</h8>
          </div>
        
          <button type="submit" id="sub" class="btn btn-large hoverable waves-effect waves-light orange accent-3 pulse tooltipped" data-tooltip="Send Email" >Send Email<i class="material-icons right">email</i></button>
          {% csrf_token %}



        </div>

        <!--ACTION CARD HERE***-->
        <div class="card-action center">

        </div>

      </div>
    </div>
  </div>
</form>

<script>
  //LOADING FUNCTION
  function loading(){
    document.getElementById("sub").style.display='hidden';
    //document.getElementById("exln").style.visibility='hidden';
    document.getElementById("lod").style.visibility='visible';
  }
</script>
<script>
  //TOOLTIP INIT
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, {
        enterDelay: 250
    });
  });
</script>
    
{% endblock content %}

