{% extends "base.html" %}
{% block title %}Divine Miracle Christian Academy|Reset your password{% endblock %}
{% block content %}

<div class="white">
    <br><br>
    <div class="container">
        <h1>Reset your password</h1>
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="center">
                <button class="btn btn-large waves-green waves-teal orange accent-3" type="submit"><i class="material-icons right">send</i>
                    Submit</button>
            </div>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}