{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_full_name }} | Dashboard{% endblock title %}
{% block content %}
<h1>Welcome</h1>
<div>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'account:change_password' %}">Change Password</a><br/>
    <a href="{% url 'account:view_update_profile' %}">Profile</a> <br/>
    {% if request.user.is_student %}
    <span><a href="{% url 'grading_system:view_all_grades' %}">Grades</a></span> &nbsp;
    <span><a href="{% url 'grading_system:view_schedule_student' %}">Schedule</a></span> &nbsp;
    <span><a href="{% url 'grading_system:student_registration' %}">Registration</a></span> &nbsp;
    {% elif request.user.is_faculty %}
    <span><a href="{% url 'grading_system:view_assigned_subjects' %}">Subjects</a></span> &nbsp;
    {% endif %}
</div>
{% endblock content %}