{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ request.user.get_full_name }} | Dashboard{% endblock title %}
{% block content %}
<div class="white">
    <br><br><br><br>
    <div class="container">
        <div class="card">
            <div class="card-content row">
                <center class="col s12">
                    <br><br>
                </center>
                <div class="col s8 left">
                        {% if request.user.profile.photo.url is not None %}
                            <img src="{{ request.user.profile.photo.url }}" style="height:200px; object-fit: cover;">
                        {% elif request.user.gender == "female" %}
                            <img src="{% static 'id-card.svg' %}" style="height:200px; object-fit: cover;">
                        {% elif request.user.gender == "male" %}
                            <img src="{% static 'id-card.svg' %}" style="height:200px; object-fit: cover;">
                        {% endif %}
                        <h4><b>{{ request.user.get_full_name }}</b></h4>
                        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, voluptate magnam optio ab aspernatur nesciunt. Nam, fugiat laborum cumque doloremque maxime assumenda ex, quidem placeat, tenetur debitis deserunt perferendis in.</h6>
                </div>
                <div class="col s4">
                    <br><br><br>
                    <h2 class="center" >Hi There! </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock content %}